################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/obj
/src/bin/Debug/net6.0
*.nupkg
/src/bin/Release/net6.0
/src/bin/Debug/net8.0
